.recipeCard {
    width: 15rem;
    margin: 20px auto;
    padding: 0;
    background-color: plum;
    color: white;
    text-align: center;
}

.cardPhoto {
    object-fit: cover;
    height: 10rem;
}

.cardLink {
    text-decoration: none;
    color: white;
    font-size: medium;
}

.cardLink:hover {
    color: white;
    text-decoration: underline white;
}